*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center ;
    margin-top: 50px;
   
 
  
}
.container{
    width:400px ;
    height:700px ;
    /* border: 3px solid red; */
    background-color: black;
    /* justify-content: center ;
    align-items: center; */
    border-radius: 40px;

}
.results{
    width: 100%;
    height: 25%;
    font-size: 100px;
    /* border: 3px solid red; */
    color: azure;
    display: flex;
    align-items: end;
    justify-content: right ;
    background-color: rgb(28, 27, 27);
    border-radius: 40px;
  
}
.item{
    /* border: 3px solid red; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
   border: none;
}
.gri{
    /* border: 3px solid red; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    font-size: xx-large;
    background-color: rgb(179, 177, 177);
    color: black;
}
.zero{
    width: 162px;
    border-radius: 50px;
}
.turuncu{
    background-color: rgb(249, 183, 61);
}
.numbers{
    background-color: rgb(67, 60, 60);
}